<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input class="search-bar" ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="label">Label</option>
          <option value="category">Category</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="tracks">
        <li ng-repeat="track in $ctrl.tracks | filter:$ctrl.query | orderBy:$ctrl.orderProp">
          <div>{{track.label}}</div>

          Details: <input type="checkbox" ng-model="checked"><br/>
          <div class="check-element animate-show-hide" ng-show="checked">
            <p>{{track.description}}</p>
            <p>Speaker: {{track.speaker}}</p>
          </div>


          <div>{{track.category}}</div>
          <audio controls>
            <source src="{{track.url}}" type="audio/mpeg">
          </audio>
        </li>
      </ul>

    </div>
  </div>
</div>